<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Addressbook</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>

	<div class="container">

		<h3>Addressbook</h3>
		<hr>

		<table class="table table-bordered table-striped">

			<thead class="thead-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Phone Number</th>
					<th>Email</th>
					<th>Address</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempPerson : ${persons}">
					<td th:text="${tempPerson.firstName}" />
					<td th:text="${tempPerson.lastName}" />
					<td th:text="${tempPerson.phoneNumber}" />
					<td th:text="${tempPerson.email}" />
					<td th:text="${tempPerson.address}" />

					<td><a
						th:href="@{/persons/restore(personId=${tempPerson.id})}"
						class="btn btn-danger btn-sm mb-2">Restore Person</a></td>
				</tr>
			</tbody>

		</table>

		<hr>
		<a th:href="@{/persons/list}" class="badge badge-info">Back to Addressbook</a>

	</div>
</body>
</html>